/*Header Var*/
$color-nav-botonesFondo: #5ec0e7;
$color-nav-botonMenu:#3cd0ba;
$color-nav-textoLogo: rgba(0, 0, 0, 0.603);
$color-nav-botonesTexto: black;
$color-nav-bloque: #262c37;
$color-blanco:white;
$color-resalta:#3cd0ba;
$color-verde:#3cd0ba58;
$color-redsocial-Twitter:#00acee;
$color-redsocial-Behance:#00acee;
$color-redsocial-Facebook:#3b5998;
$color-redsocial-Instagram:#f143b7;
$color-redsocial-Whatsapp:#3cd0ba;
$color-whatsapp-background:#00000086;
$color-fondoform-background:#10435e9c;
$margin-top:100px;


/*TamañoFuente Var*/
$textospequenos:1rem;
$textospequenos2:1.1rem;
$textosmedianos:1.2rem;
$textosgrandes:1.5rem;
$titulos:2rem;
$titulosextragrandes:4rem;

/*Fuentes Var*/
$font-family-Logo: 'Fuzzy Bubbles', cursive;
$font-family-General: 'IBM Plex Sans';
$font-family-titulos: 'Acme', sans-serif;

/*FondosColoresVar*/
$bg-fondo-Mobile: #2b486b;
$bg-fondo-Desktop: #2826416e;

/*Bordes Var*/
$border-radius:10px;