*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/*index*/
/*Seteo de fondo, tamaño general de la página web*/
#banerIndex{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.30)),url(../imagenes/_MG_5842-2.JPG);
	background-size:cover;
	background-position: center;
	position: relative;
	opacity: 100%;
}
header #nombrePresenta{
	width:100%;
	padding-top: 0.2cm;
	padding-bottom: 0.4cm;
	background-color: black;
	opacity: 80%;
	text-align: center;
}
#nombrePresenta h1.titulo{
	color:white;
	font-size: 25px;
	font-family: 'Fuzzy Bubbles';
	opacity: 70%;
	font-weight: bold;
}

/*Seteo de fondo, tamaño del menú*/
#itemMenu{ 
	padding-bottom: 0.3cm;
	opacity: 80%;
	background-color: black;
	opacity: 80%;
	text-align: center;
}
/*display horizontal*/
.menu li{
	display: inline;
	padding: 10% 10% 10% 10%;
	position: relative;
}
/*formato texto de la lista*/
.menu a{
	text-decoration: none;
	color:black;
	font-size: 18px;
	font-weight: bold;
	opacity: 50%;
	background-color: rgb(255, 255, 255);
}

#contacto{
	width:100%;
	background-color: rgb(0, 0, 0);
	text-align: center;
	padding-top: 0.1cm;
	padding-bottom: 0.3cm;
	margin-top: 500px;
}
#contacto article a{
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	color:black;
	opacity: 40%;
	display:inline-block;
	background-color: white;
}
#footer {
	width:100%;
	background-color: black;
	position:relative;
}
#footer p{
	color:white;
	text-align: center;
}
/*About me*/

/*Encabezado*/
#banerAboutme{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.40)),url(../imagenes/_MG_6032-2.JPG);
	background-size:cover;
	background-position: center;
	position: relative;
	opacity: 100%;
}

/*Subtitulo,descripción*/
#quienSoy{
	margin-left: 50px;
	margin-top: 10px;
	width: 610px;
	height: 250px;
	background-color: white;
	opacity: 50%;
	border-bottom-left-radius: 0.5cm;
	border-bottom-right-radius: 0.5cm;
}
#quienSoy {
	position:absolute;
}
#quienSoy div.subtitulo{
	width: 200px;
	display:inline-block;
	text-align: center;
	font-size: 25px;
	background-color: rgb(245, 190, 128);
	border-bottom-left-radius: 0.5cm;
	border-bottom-right-radius: 0.5cm;
	position: relative;
}
div.subtitulo h3{
	padding-bottom: 0.1cm;
	color:black;
	font-weight: bold;
}
#descripcion{
	width: 100%;
	height: 90%;
	display:inline-block;
	border-bottom-left-radius: 0.5cm;
	border-bottom-right-radius: 0.5cm;
}
#descripcion p{
	text-align: justify;
	font-size: 18px;
	font-weight: lighter;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section #contenedorImg article.fondo{
	margin-top: 70px;
	margin-left: 800px;
	border: 20px solid black;
	border-radius: 40%;
	border-style: dashed;
	width: 400px;
	height: 400px;
	display:inline-block;
	border-radius: 40%;
	background-size: cover;
	background-image: url(../imagenes/IMG_5131.jpg);
	opacity: 100%;
}
/*png herramientas*/
.ph{
	position: absolute;
	margin-left: 15%;
	margin-top: -260px;
	width: 80px;
}
.lr{
	width: 40px;
	margin-top: -260px;
	margin-left: 25%;
	position: absolute;
}
#footer{
	display: block;
}
/*Contacto*/
#banerContacto{
	width: 100%;
	height: 100%;
	background-image:linear-gradient(rgb(51, 55, 112),rgb(73, 73, 77));
	position: relative;
	opacity: 100%;
	padding-bottom: 110px;
}

article #contactoInfo{
	margin-left: 250px;
	margin-top: 30px;
	width: 300px;
	height: 150px;	
	border-radius: 15px;
	background-color: 	#c7d7e9ce;
}
#contactoInfo ol li{
	padding-top: 35px;
	font-weight: bold;
	text-align: center;
}
/*Formulario Contacto*/
#formulario{
	margin-top: -146px;
	margin-left: 600px;
	border-radius: 15px;
	width: 380px;
	padding-top: 20px;
	height: 380px;
	background-color: 	#ffffff8e;
	position: relative;
}
#contenedorFormulario{
	margin-left: 12px;
	text-align: left;
}
.formulario li{
	font-weight: bold;
}
.mail input{
	margin-left: 17px;
}
ol label.oficio{
	font-weight: bold;
}
.nombre input{
	margin-left: 2px;
}
#opcionesConsulta{
	display: inline;
}
#opcionesConsulta strong{
	font-weight: bold;
}
#comentario label span{
	font-weight: bold;
	margin-left: 5px;
}
#comentario textarea{
	width: 350px;
}
#comentario{
	margin-top: 5px;
	margin-left: 6px;
}
#comentario input{
	font-size: 15px;
	font-weight: bold;
	margin-left: 6px;
}
#comentario button{
	font-size: 15px;
	font-weight: bold;
	margin-left: 6px;
}

/*Promos*/
#banerPromo{
	width: 100%;
	height: 100%;
	background-image:linear-gradient(rgb(110, 114, 173),rgb(95, 95, 207));
	background-size: cover;
	position: relative;
	opacity: 100%;
}

#titulos{
	display: block;
	padding-top: 0.4cm;
	padding-bottom: 0.4cm;
	background-color: black;
	opacity: 80%;
	text-align: left;
}

#titulos h1.tituloLogo{
	display:inline-block;
	color:white;
	font-size: 25px;
	font-family: 'Fuzzy Bubbles';
	opacity: 70%;
	padding-left: 3cm;
}

#titulos h2.tituloPromos{
	display:inline-block;
	color:white;
	font-size: 20px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	opacity: 70%;
	padding-left: 30%;
	text-align: center;
}












