*{
	margin: 0;
	padding: 0;
    box-sizing: 0;
}
header#contactame{
    display:flex;
    justify-content: center;
    width: 100%;
    color:white;
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: rgb(104, 214, 200);
}
h1{
    font-size: 20px;
    text-align: center;
}
svg{
    color:rgb(16, 155, 4);
}
/*Settings_Mobile First*/
.container-fluid.encabezadoCuerpo{
    position:relative;
    padding:0;
}
.container-fluid.barraNavegacion{
    padding:0;
}
.navbar.navbar-expand-lg.bg-light{
    padding:0;
}
.navbar-brand{
    padding: 0;
}
section.row{
    align-items: flex-end;
    flex-wrap: nowrap;
}
.col.encabezadoLogo img{
    width:45px;
}

.col.encabezadoNombre h2{
    color:black;
    font-family: 'IBM Plex Sans';
    font-weight:bolder;
    font-size: 20px;
    text-align: start;
}
.nav-item{
    text-align: center;
}

#carouselExampleSlidesOnly{
    
}




/*Vista_Desktop*/
@media (min-width: 576px){
    .container-fluid.barraNavegacion{
       margin-right: 20px;
    }
    section.row{
        display:grid;
        padding-left: 10px;
    }
    .col.encabezadoLogo img{
        width:50px;
    }
    .col.encabezadoNombre h2{
        color:black;
        font-size: 15px;
    }
}
