.__Sesion{
    border:none;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width:150px;
        height:150px;
        background-size: cover;
        border-radius: 50%;
        animation:girainfo;
        @include sesion-bg(url("../media/Galeria1.jpg"));
        animation-delay: 0s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}
.fuenteAcmeySpacing{
    font-family:$font-family-titulos;
    letter-spacing: 8px;
}



