
@import '__reseteo';
@import '__vars';
@import '__media';
@import'__animaciones';
@import'__mixins';
@import '__eaches';
@import '__mapas';
@import'__header';
@import '__extends';
@import'__mapas';



.card-Desktop{
    display:none;
}
.card-Mobile{
    padding-top: 70px;
    border:none;
    display:block;
    width:100%;
    overflow: hidden;
    & &__contenedorTexto{
        margin: 400px 20px;
        height:90px;
        display: flex;
        flex-direction: column;
        padding:5px;
        background-color: #2826416e;
        h1{
            @include index-textoPrincipal;
        }
        p{
            @include index-textoPrincipal;
        }
    }
}
.whatsappFlotante{
    position:fixed;
    bottom:15px;
    right:20px;
    background-color:$color-whatsapp-background;
    color:#3cd0ba;
    border-radius:50px;
    text-align:center;
    align-items: center;
    svg:hover{
        color:$color-blanco;
    }
}
.card-About{
    @extend .card-About;
}
.redes{
    width:100%;
    height:150px;
    @include redes(25px,10px);
    h3{
        @include index-textoPrincipal;
        text-align: center;
        font-family: $font-family-Logo;
        font-size: $titulos;
        color:$color-nav-botonesFondo;
    }
    & &__iconos{
        padding-top:10px;
        display:flex;
        justify-content: center;
        a{
            display:flex;
            background: #e3edf7;
            height:60px;
            width:60px;
            margin: 0 10px;
            border-radius: $border-radius;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            box-shadow: 6px 6px 10px -1px rgba(30, 187, 51, 0.15),
            -6px -6px 10px -1px rgba(105, 101, 101, 0.7);
            border: 1px solid rgba(0,0,0,0.1);
            transition: transform 0.5s;
            animation-delay: 0.8s;
            animation-duration: 1.2s;
            animation-timing-function: ease-in-out;
        }
        svg{
            width:30px;
            color: #777;
            transition: transform 0.5s;
        }
        a:hover{
            box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            -4px -4px 6px -1px rgba(25, 13, 92, 0.7),
            -0.5px -0.5px 0px rgb(15, 14, 14),
            0.5px 0.5px 0px rgba(230, 218, 218, 0.15),
            0px 12px 10px -10px rgba(230, 214, 214, 0.5);
            border: 1px solid rgba(0,0,0,0.1);
            transform: translateY(3px);
            svg{
                transform: scale(0.90);
            }
        }
    }
}
.redes__iconos{
    & &__1{
    @include redes-sociales;
    }
    & &__2{
    @include  redes-sociales;
    }
    & &__3{
    @include redes-sociales;
    }
    & &__1:active svg.Behance{
        color:$color-redsocial-Behance;
    }
    & &__2:active svg.Instagram{
        color:$color-redsocial-Instagram;
    }
    & &__3:active svg.Facebook{
        color:$color-redsocial-Facebook;
    }
}
.footer__Index{
    @include footer-settings(100px,center,white, 10px);
    background-color: $color-fondoform-background;
    padding-top:10px;
}

.contacto{
    & &__contenido{
        color:#fff;
        max-width: 95%;
        margin-top:100px;
        margin-left: auto;
        margin-right: auto;
        h3{
            @extend .fuenteAcmeySpacing;
            font-weight: lighter;
            padding-bottom: 30px;
            text-align: center;
            animation-delay: 0.5s;
            animation-duration: 1.5s;
            animation-timing-function: infinite;
            span{
                color:$color-resalta;
            }
        }
    }
    & &__contenedor{
        border-top-left-radius: $border-radius*2;
        border-top-right-radius: $border-radius*2;
        border-bottom-left-radius: $border-radius*2 ;
        border-bottom-right-radius:  $border-radius*2 ;
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
        width:100%;
        animation-delay: 0s;
        animation-duration: 0.5s;
    }
    & &__contenedor >*{
        padding: 1em;
    }
    & &__formulario{
        font-family: $font-family-General;
        font-size: $textospequenos2;
        border-top-left-radius: $border-radius*2;
        border-top-right-radius: $border-radius*2;
        animation: formTransi;
        animation-delay: 1s;
        animation-duration: 3s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        @keyframes formTransi{
            0%{
                background-color: $color-nav-bloque;
            }
            50%{
                background-color: $color-fondoform-background;
            }
            100%{
                background-color:$color-nav-bloque;
            }
            50%{
                background-color: $color-fondoform-background;
            }
            0%{
                background-color: $color-nav-bloque;
            }
        }
        form p.novedades input{
            width:10%
        }
        form p.consultas input{
            width:3%;
        }
        form p label{
            padding:3px;
        }
        form .botonSubmit{
            color:black;
            border-radius: 10px;
            border:none;
            font-size: 20px;
            text-transform: uppercase;
            padding:4%;
            font-weight: bold;
            background-color:$color-nav-botonesFondo;
            box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
            animation: contactoanim 1.5s infinite;
            @keyframes contactoanim {
                0%
                {
                    transform: scale(0.80);
                    box-shadow: 0 0 0 0 rgba(256,256,256,0.1);
                }
                50%
                {
                    transform: scale(0.90);
                    box-shadow: 0 0 0 25px rgba(256,256,256,0.0);
                }
                100%
                {
                    transform: scale(0.80);
                    box-shadow: 0 0 0 0 rgba(256,256,256,0);
                }
            }
        }
        button:hover, button:focus{
            background-color: $color-nav-botonMenu;
            color: white;
            transition: background-color 0.5s ease-out;
            outline:0;
        }
    }
    & &__formulario form{
        text-align: center;
    }
    & &__formulario form button, 
    & &__formulario form input,
    & &__formulario form textarea{
        width:100%;
        padding: 2%;
        border:none;
        outline: none;
        color:#fff;
        border-bottom: 1px solid #0eb784;
        background:none;
    }
    & &__formulario form input:focus{
        animation: borde;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    & &__formulario  form textarea:focus{
        animation: borde;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    @keyframes borde {
        0%{
            border-bottom: 1px solid #0eb784;
        }
        30%{
            border-bottom: 1px solid #7f78dd;
        }
        60%{
            border-bottom: 1px solid #a35278;
        }
        0%{
            border-bottom: 1px solid #0eb784;
        }
    }
}
.contacto__Info{
    border-bottom-left-radius: $border-radius*2 ;
    border-bottom-right-radius:  $border-radius*2 ;
    background-color: $color-nav-botonesTexto;
    h4{
        animation-delay: 1s;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }    
    h4, ul, p{
        text-align: justify;
        margin:0 0 2rem 0;
    }
    ul{
        letter-spacing:5px;
        list-style: none;
        padding:2px;
        text-align: center;
    }
    h1{
        text-align: justify;
        letter-spacing: 5px;
    }
    iframe{
        width:100%;
    }
    h6{
        text-align: center;
        letter-spacing: 2px;
    }
}
.footer__Contacto{
    @include footer-settings(30px,center,white, 10px);
    background-color: $color-fondoform-background;
    padding-top:10px;
}
.galeria__Contenedor{
    margin-top:100px;
    & &__Sesion{
        @extend .__Sesion;
        img{
            @include sesion-bg(url("../media/Galeria1.jpg"));
        }
    }
    & &__Sesion__2{
        @extend .__Sesion;
        img{
            @include sesion-bg(url("../media/Galeria2.jpg"));
        }
    }
    & &__redes{
        background-color: $color-nav-botonesFondo;
        display:flex;
        flex-direction: row;
        @include redes(0px,0px);
        gap:20px;
        justify-content: center;
        align-items: center;
        h1{
            text-align: center;
            font-size: $textosgrandes;
            color:$color-blanco;
        }
    }
}
.footer__Portfolio{
    @include footer-settings(30px,center,white, 10px);
    background-color: $color-fondoform-background;
    padding-top:10px;
}


.galeria{
    width:95%;
    display:grid;
    grid-template-columns: 50%;
    grid-template-rows: 100px auto auto;
    justify-content: center;
    align-items: center;
    & &__Subtitulos{
        margin-top: 20px;
        width:100%;
        justify-content: center;
        display:flex;
        flex-direction: column;
        font-family: $font-family-titulos;
        margin-bottom: 20px;
    }
    & &__Servicios{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    & &__Servicios__Retoque{
        img{
            border-radius: $border-radius;
        }
    }
    & &__Servicios__Retoque__2{
        margin-top: 50px;
        img{
            border-radius: $border-radius;
        }
    }
    & &__Herramientas{
        margin-top: 60px;
        background-color: #7f78dd5c;
        padding-bottom: 20px;
        div{
            height:100px;
            display:flex;
            justify-content: space-evenly;
        }
        div h4{
            height:100px;
            margin-top: 20px;
            font-size: $titulos;
        }
    }
    h1,h3,h4{
        text-align: center;
        color:$color-blanco;
        letter-spacing: 5px;
        font-size: $titulos;
        span{
            color:$color-resalta;
        }
    }
    h3{
        font-size: $textosgrandes*2;
    }
}
.footer__Servicios{
    @include footer-settings(30px,center,white, 10px);
    background-color: $color-fondoform-background;
    padding-top:10px;
}

.PromosTitulo{
    margin-top:180px;
    text-align: center;
    color:$color-blanco;
}
#Promos{
    gap:50px;
    width:90%;
    margin-left: 4%;
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem),1fr));
    grid-auto-rows: 25rem;
}
.Promos__Contenedor{
    margin-top:5px;
    border-radius: $border-radius;
    background-color: $background-color-promos;
    color:$color-blanco;
    border-radius: 50px;
    text-align:center;
    h4{
            font-size: 25px;
            text-transform: uppercase;
            border-radius: 50px;
            border-radius: 50px;
            font-family: $font-family-titulos;
            letter-spacing: 10px;
        }
    & ul{
        text-align: center;
        list-style-type: none;
        font-size:18px;
        padding-top: 20px;
        padding-left: 0px;
    }
    &__Precios{
        span{
            @include precios-promos(block, 30px)
        }
    }
    &__botonContacto{
        padding-top: 40px;
        button{
            width:200px;
            text-decoration: none;
            border-radius: none;
            border-style: none;
            font-size: 25px;
            border-radius: 5px;
        }
        button a{
            font-weight: bold;
            color:$color-blanco;
        }
    }
}
.footer__Precios{
    @include footer-settings(30px,center,white, 10px);
    background-color: $color-fondoform-background;
    padding-top:10px;
}


@media(min-width:$desktop){
    .bg-colorfondoIndex{
        & .card-Desktop{
            padding-top:70px;
            display:flex;
        }
        & .card-Mobile{
            display:none;
        }
    }
    .header{
        & &__LogoContenedor{
            flex-direction:column;
            margin-left:8px;
        }
        & &__Collapse{
            flex-direction: row;
            justify-content: center;
        }
        & &__MenuContenedor{
            padding:$paddingreset;
            gap:100px;
        }
    }
    .card-Desktop{
        padding-top: 70px;
        border:none;
        display:block;
        width:100%;
        overflow: hidden;
        & &__contenedorTexto{
            margin: 400px 0px;
            height:90px;
            display: flex;
            flex-direction: column;
            padding:5px;
            background-color: #2826416e;
            align-items: flex-end;
            color:$color-blanco;
            letter-spacing: 1.5px;
            p{
             text-align: end;
            }
        }
    }
    .card-About{
        @extend .card-About;
        display: grid;
        grid-template-columns: 100%;
        padding-top: 20px;
        & &__Me{
            display: grid;
            grid-template-columns: 400px 200px 500px;
            gap:10px;
            background-color: #0000004f;
            justify-content: space-evenly;
            justify-items: start;
            align-items: center;
            img{
                margin-top:30px;
                width:200px;
                height:200px;
            }
            p{
                margin-top:50px;
            }
            h3{
                grid-column: 3/3;
                margin-left: 120px;
            }
        }
    }
    .redes{
        width: 100%;
        align-items: center;
        display: flex;
        flex-flow: row;
        justify-content: center;
        & &__iconos{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    .redes__iconos{
        & &__1:hover svg.Behance{
            color:$color-redsocial-Behance;
        }
        & &__2:hover svg.Instagram{
            color:$color-redsocial-Instagram;
        }
        & &__3:hover svg.Facebook{
            color:$color-redsocial-Facebook;
        }
    }
    .footer__Index{
        @include footer-settings(0px,center,white, 10px);
        background-color: $color-fondoform-background;
        padding-top:10px;
        font-weight: bold;
        letter-spacing: 4px;
    }
    .contacto{
        padding-top:30px;
        & &__contenido{
            .tamañotitulosgrandes{
                font-size: $titulosextragrandes;
            }
        }
        & &__contenedor{
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
        & &__formulario{
            border-top-right-radius:0px;
            form{
                padding:30px;
                width:100%;
                display:grid;
                grid-template-areas: 
                "nombre consultas"
                "email consultas"
                "asunto oficio"
                "nove nove"
                "mensaje mensaje"
                "submit submit";
            }
            form button, input, textarea{
                width:50%;
            }
            form p input{
                width: 100%;
            }
            form p.novedades label{
                margin-top: 50px;
                width:60%;
            }
            form p.consultas label{
                margin-top: 60px;
                width:80%;
                text-align: start;
            }
            form p.consultas input{
                width:5%;
            }
            form p label{
                width:100%;
            }
            form p textarea{
                width:250%;
            }
            form p.email{
                grid-area: email;
            }
            form p.nombre{
                grid-area: nombre;
            }
            form p.tel{
                grid-area: tel;
            }
            form p.asunto{
                grid-area: asunto;
            }
            form p.oficio{
                grid-area: oficio;
            }
            form p.boton{
                grid-area:submit;
            }
            form p .mensaje{
                grid-area:mensaje;
            }
            form p.novedades{
                grid-area: nove;
                grid-column: 1/3;
                width:90%;
                padding-bottom: 20px;
                font-size: $textosgrandes;
            }
            form p.consultas{
                grid-area: consultas;
            }
            form p.mensaje label {
                width:250%;
            }
        }
    }
    .contacto__Info{
        border-radius:0px;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    .footer__Contacto{
        @include footer-settings(50px,center,white, 10px);
        background-color: $color-fondoform-background;
        padding-top:10px;
        font-weight: bold;
        letter-spacing: 4px;
    }
    .galeria__Contenedor{
        margin-top:150px;
        display:grid;
        justify-content: center;
        & &__fotos{
            justify-content: space-between;
        }
    }
    .galeria{
        display:flex;
        width:100%;
        & &__Servicios{
            width:100%;
            margin-top:100px;
            display:grid;
            grid-template-columns: 50% 50%;
            align-items: flex-start;
        }
        & &__Subtitulos{
            grid-column: 1/3;
            grid-row: 1/3;
            width:100%;
        }
        & &__Servicios__Retoque{
            grid-column: 1/3;
            grid-row: 2/3;
            width:400px;
            img{
                margin-left: 140px;
            }
        }
        & &__Servicios__Retoque__2{
            padding-top: 25%;
            grid-column: 2/3;
            grid-row: 1/3;
            width:400px;
            img{
                margin-left: 80px;
            }
        }
        & &__Herramientas{
            grid-column: 1/3;
            grid-row: 3/3;
            div{
                height:100px;
                display:flex;
                justify-content: space-evenly;
            }
        }
    }
    #Promos{
        margin-top:20px;
        gap:80px;
        margin-bottom: 100px;
    }
}

